<% if(locals.messages.info){ %>
    <div 
      style="position: fixed;right: 17px;top: 10px;display:block;z-index:1000;"
      class="toast align-items-center text-white bg-primary border-0" 
      role="alert" 
      aria-live="assertive" 
      aria-atomic="true">
      <div style="display: flex;">
        <div class="toast-body"><%=locals.messages.info%></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" 
        data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
<% }%>

<% if(locals.messages.success){ %>
  <div 
    style="position: fixed;right: 17px;top: 10px;display:block;z-index:1000;"
    class="toast align-items-center text-white bg-success border-0" 
    role="alert" 
    aria-live="assertive" 
    aria-atomic="true">
    <div style="display: flex;">
      <div class="toast-body"><%=locals.messages.success%></div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" 
      data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
<% }%>

<% if(locals.messages.error){ %>
<div 
  style="position: fixed;right: 17px;top: 10px;display:block;z-index:1000;"
  class="toast align-items-center text-white bg-danger border-0" 
  role="alert" 
  aria-live="assertive" 
  aria-atomic="true">
  <div style="display: flex;">
    <div class="toast-body"><%=locals.messages.error%></div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" 
    data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>
<% }%>